footer {
    width: 100%;
    background-color: #f5f5f5;
    padding: 30px 0;
    font-size: 12px;
    margin-top: 80px;
}
footer .footer_bottom a {
    color: #484848;
    text-decoration: none;
}
footer .footer_wrap {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer_bottom{
    margin-top: 100px;
}


footer .footer_logo img {
    width: 150px;
}

footer .footer_top>ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin-bottom: 10px;
}
footer .footer_top>ul>li {
    padding: 0 20px;
    font-size: 14px;
}    
.link_sns{
    color: #484848;
    display: flex;
}
.sns{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 25px;
}
.sns:hover{
    cursor: pointer;
}
    