	div.home_wrap {
		margin-top: 80px;
	}
    .main_first{
        width: 1400px;
        margin: 0 auto;
        display: flex; 
    }
    .main_first img{
        width: 60%;
        margin-top: 80px;
    }
    .main_first_fonts{
        width: 40%;
        margin-top: 80px;
        background-color: #FDF4E3;
    }
    .main_first_fonts div{
       margin-top: 100px;
       margin-left: 50px;
    }
    .now_show{
        width: 130px;
        height: 35px;
        border-radius: 15px 15px 15px 15px;
        background-color: black;
        color: white;
        border: none;
    }
    .now_show:hover{
        cursor: pointer;
        background-color:#FDF4E3;
        color: black;
        border: 1px solid black;
    }
    .main_second{
        width: 1400px;
        margin: 0 auto;
        display: flex;
    }
    .main_second_fonts{
        width: 90%;
        margin-top: 80px; 
    }
    .main_second_btn{
        width: 10%;
        margin-top: 130px; 
    }
    .sofa_show{
        width: 130px;
        height: 35px;
        border-radius: 15px 15px 15px 15px;
        background-color: transparent;
        color: #484848;
        border: 1px solid lightgray;
    }
    .sofa_show:hover{
        cursor: pointer;
        border: 1px solid grey;
    }
    .main_sofas{
        width: 1400px;
        margin: 0 auto;
        display: flex;
    }
    .photo_sofas1{
       width:45%;
       margin-top: 30px;
       margin-right: 15px;
    }
    .photo_sofas1 img{
        width: 100%;
    }
    .photo_sofas2{
       width:26%;
       margin-top: 40px;
       margin-right: 15px;
    }
    .photo_sofas2 img{
        width: 100%;
    }
    .photo_sofas3{
       width:26%;
       margin-top: 30px;
    }
    .photo_sofas3 img{
        width: 100%;   
    }
    .main_notice{
        width: 1400px;
        margin: 0 auto;
    }
    .main_notice>div{
        margin-top: 80px;
        margin-bottom: 100px;
        display: flex;
    }
    .notice_boxs{
        width: 33%;
        height: 180px;
        background-color: #f5f5f5;
        color: #484848;
        margin-right: 5px;
        text-align: center;
    }
    .boxs_div{
        width: 100%;
    }
    .icons{
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .icons:hover{
        cursor: pointer;
    }
    #toTop{
        position: fixed;
        bottom: 30px;
        right: 30px;
        display: none;
        color: #484848;
        width: 30px;
        height: 30px;
    }