* {
    box-sizing: border-box;
}
section {
    width: 1400px;
    margin: 0 auto;
}
div.itempage_wrap {
    margin-top: 80px;
    overflow:visible;
    display: flex;
}
div.item_container {
    margin-top: 40px;
    width: 70%;
}
div.itemimg_container {
    display: flex;
    flex-flow: row wrap;
}
div.itemimg_container .itemimg_box {
    width: 50%;
    padding: 12px;
}
div.itemimg_container .itemimg_box img {
    width: 100%;
}
div.iteminfo_container {
    margin: 50px 0;
}
div.iteminfo_container .iteminfo_haeder {
    height: 120px;
    padding: 40px 0;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
div.iteminfo_container .iteminfo_haeder .iteminfo_haeder_title {
    font-size: 25px;
    font-weight: bold;
    padding-left: 12px;
}
div.iteminfo_container .iteminfo_haeder:hover .iteminfo_haeder_title {
    text-decoration: underline;
}
div.iteminfo_container .iteminfo_haeder .iteminfo_haeder_btnicon {
    font-size: 25px;
    font-weight: bold;
    padding-right: 25px;
}
div.iteminfo_container .iteminfo_haeder_content {
    width: 90%;
    padding-left: 40px;
    margin-bottom: 40px;
    display: none;
}
aside {
    width: 30%;
    position: sticky;
    top: 80px;
    left: 100%;
    padding: 0 40px;
    height: 700px;
}
aside .aside_title {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}
aside .aside_itemprice {
    display: flex;
}
aside .aside_itemprice_simbol {
    font-size: 14px;
}
aside .aside_rating {
    margin: 20px 0;
    display: flex;
    cursor: pointer;
}
aside .aside_rating .aside_star {
    font-size: 12px;
    margin-right: 10px;
}
aside .aside_rating .aside_reviewcnt {
    font-size: 12px;
    color: gray;
}
aside .aside_rating:hover .aside_reviewcnt {
    text-decoration: underline;
    text-underline-position: under;
}
aside .iteminfo_summary {
    padding-left: 15px;
    margin: 25px 0;
}
aside .iteminfo_summary_description {
    font-size: 15px;
    line-height: 30px;
}
aside .aside_quantitybox {
	padding-left: 10px;
	margin-bottom: 10px;
}
aside .aside_quantitybox .aside_quantity_tag {
	font-size: 20px;
	margin-right: 40px;
}
aside .aside_quantitybox .aside_btn_plus {
	color: #705446;
	font-size: 25px;
	cursor: pointer;
}
aside .aside_quantitybox .aside_btn_minus {
	color: #705446;
	font-size: 25px;
	cursor: pointer;
}
aside .aside_quantitybox .aside_quantity {
	border: none;
	font-size: 22px;
	text-align: center;
	width: 50px;
}
aside .aside_quantitybox .aside_quantity:focus {
	outline:none;
}
aside .aside_btnbox {
    padding: 20px 0;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
aside .aside_btnbox .aside_btn_pay {
    width: 270px;
    height: 60px;
    border-radius: 30px;
    background-color: #705446;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
aside .aside_btnbox .aside_btn_cart {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FDF4E3;
    border: 1px solid lightgray;
    font-size: 16px;
    cursor: pointer;
	position: relative;
}
aside .aside_btnbox .aside_btn_cart i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}
aside .aside_stockchk {
    border-top: 1px solid lightgray;
    padding: 20px 0;
    display: flex;
}
aside .aside_stockchk .aside_stockchk_icon {
    font-size: 18px;
    margin-right: 20px;
}
aside .aside_stockchk .aside_stockchk_text {
    padding: 5px 0;
    font-size: 14px;
}
aside .aside_stockchk:last-child .aside_stockchk_text {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
}
div.review_container {
    width: 100%;
    border-top: 1px solid lightgray;
    position: relative;
}
div.review_container .review_header {
    padding: 40px 0;
}
div.review_container .review_header .review_title {
    font-size: 25px;
    font-weight: bold;
    padding-left: 12px;
}
div.review_container .review_box {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;    
    padding: 40px 0;
}
div.review_container .review_contentbox {
    width: 80%;
    padding-left: 40px;
    cursor: pointer;
}
div.review_container .review_contentbox .review_star {
    font-size: 14px;
}
div.review_container .review_contentbox .review_content_flex {
    display: flex;
    justify-content: space-between  ;
}
div.review_container .review_contentbox .review_content {
    width: 80%;
    height: 60px;
    overflow: hidden;
    margin-top: 20px;
}
div.review_container .review_contentbox .review_content .review_content_text {
    font-size: 14px;
}
div.review_container .review_contentbox .review_content .review_content_img {
    width: 70%;
    padding: 40px 0;
}
div.review_container .review_contentbox .review_content .review_content_img img {
    max-width: 100%;
}
div.review_container .review_contentbox .review_img_mini {
    width: 15%;
    height: 80px;
    padding: 0 20px;
}
div.review_container .review_contentbox .review_img_mini img {
    max-width: 100%;
    height: 100%;
}
div.review_container .review_infobox {
    width: 20%;
    font-size: 13px;
    padding-top: 10px;
}
div.review_container .review_infobox .review_id {
    padding-bottom: 10px;
}
div.review_container .review_infobox .review_date {
    padding-bottom: 10px;
}
div.review_container .review_nullbox {
	text-align: center;
	font-size: 19px;
	padding: 80px 0;
	border-top: 1px solid lightgray; 
}
