.mypage_wrap{
    width: 1400px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
}
.mypage_fixed{
    width: 400px; 
}
.fixed_top{
    width: 400px;
    height: 230px;
    background-color: #E1C391;
    position: relative;
}
.fixed_top .mypage_hi{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 100px;
    margin-left: 20px;
    display: inline-block;
}
.fixed_top button{
    background-color: white;
    width: 110px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
    top: 107px;
    left: 260px;
    display: inline-block;
    position: absolute;
    border: none;
}
.mypage_point{
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 15px;
    border-top: 1px solid white;
    display: flex;
}
.fixed_bottom{
    background-color: white;
    width: 400px;
    height: 600px;
}
.fixed_bottom>ul{
    list-style: none;
    margin-top: 40px;
    margin-left: 30px;
}
.fixed_bottom>ul li{
    padding: 15px 0;
}
.mypage_welcome{
    width: 600px;
    margin-left: 100px;
    margin-top: 80px;
    font-size: 40px;
}
.mypage_welcome>span{
    color: #705446;
    font-weight: bolder;
}
.mypage_welcome>p{
    margin-top: 10px;
    font-size: 13px;
}
.mypage_changed{
    margin-top: 70px;
    margin-left: 100px;
}