.orderlist_table{
    width: 800px;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin-bottom: 50px;
}
.mypage_changed p{
    font-size: 20px;
    font-weight: bolder;
}
.orderlist_table td{
    padding: 20px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
}
.order_unm{
    font-size: 17px;
    margin-bottom: 10px;
}
.orderlist_imgdiv{
    width: 100px;
    height: 80px;
}
.orderlist_imgdiv img{
    max-width: 100%;
    height: 100%;
}