table.type09 {
    width: 800px;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
  }
  table.type09 thead td {
    padding: 5px;
    vertical-align: top;
    color: black;
    border-bottom: 2px solid #3d3d3d;
  }
  .page_div{
    position: relative;
    }
  table.type09 td {
    padding: 8px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
  .mypage_changed p{
    font-size: 20px;
    font-weight: bolder;
  }
  input{
    border: none;
    width: 500px;
    }
    input:focus {outline:none;}
    textarea{
    border: none;
    width: 700px; height: 200px;
    resize: none;
    }
    textarea:focus {outline:none;  background-color: transparent; }
    .qnawrite_btn{
        width: 100px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 420px;
        left: 720px;
    }
    .qnawrite_btn:hover{
        cursor: pointer;
        font-weight: bold;
    }
    