:root {
  --main-color: #705446;
  --sub-color: #FDF4E3;
  --main-text-color: #333;
}

section.sign_up_success_scr_wrap { width: 1400px; margin: 0 auto; display: flex; }
section.sign_up_success_scr_wrap .img_area     { width: 700px; height: 100vh; }
section.sign_up_success_scr_wrap .img_area img { width: 100%; height: 100%; }

/* ----- sign_up_success_area line ----- */
section.sign_up_success_scr_wrap .sign_up_success_area { width: 700px; height: 100vh; }
section.sign_up_success_scr_wrap .sign_up_success_area .content {
  width: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--main-text-color);
}
section.sign_up_success_scr_wrap .sign_up_success_area .content h1 { 
  font-size: 40px; 
}
section.sign_up_success_scr_wrap .sign_up_success_area .content button {
  margin-top: 30px;
  color:#fefefe;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 24px;
  width: 400px;
  height: 50px;
  font-size: 18px;
}
section.sign_up_success_scr_wrap .sign_up_success_area .content button.go_login {
  background-color: var(--main-color); 
}
section.sign_up_success_scr_wrap .sign_up_success_area .content button.go_login:hover {
  background-color: #5a4236;
}
section.sign_up_success_scr_wrap .sign_up_success_area .content button.go_home {
  background-color: var(--sub-color); color: var(--main-text-color); 
}
section.sign_up_success_scr_wrap .sign_up_success_area .content button.go_home:hover {
  background-color: #fcecc4; 
}
/* ----- sign_up_success_area end ----- */