.item_wrap{
    margin: 0 auto;
    margin-top: 80px;
    width: 1400px;
}
.category_name{
	margin-top: 150px;
    font-size: 35px;
    font-weight: bolder;
    margin-left: 15px;
    margin-bottom: 10px;
}
.item_wrap>p{
    font-size: 14px;
    margin-left: 15px;
}
.best_wrap {
    display: flex;
    flex-wrap: wrap;
}
.bestitem{
    margin: 15px 15px;
}
.imgbox{
    width: 320px;
    position: relative;
}
.firstimg img{
    width: 100%;
    position: absolute;
    display: block;
}
.changeimg img{
    width: 100%;
    position: absolute;
}
.item_infobox{
    margin-top: 300px;
}
.star{
    font-size: 12px;
}
hr{
    width: 1370px;
    height: 1px;
    border: none;
    background-color: lightgray;
    margin-left: 15px;
}
.itemradius{
    width: 40px;
    height: 40px;
    border-radius: 50px 50px 50px 50px;
    background-color: lightgray;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    display: none;
}
.info_left{
    float: left;
}
.itemradius>i{
    font-size: 20px;
    color: white;
    margin-left: 9px;
    margin-top: 9px;
}
.title_name{
	font-size: 18px;
	font-weight: bolder;
}
.review_cnt{
	font-size: 12px;
	color: gray;
}
