<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sofas.items">
	
	<select id="selectBestItem" resultType="com.sofas.app.bean.Items_ReviewDto">
		SELECT 
		items.items_idx, 
		items_name, price, 
		items_img, 
		items_category, 
		sales_cnt, 
		(SELECT AVG(review_star) FROM review WHERE items.items_idx = review.items_idx) AS items_star_avg, 
		(SELECT COUNT(review_idx) FROM review WHERE items.items_idx = review.items_idx) AS items_review_cnt 
		FROM items 
		ORDER BY sales_cnt desc
	</select>
	
	<select id="selectItemsList" resultType="com.sofas.app.bean.Items_ReviewDto">
		SELECT 
		items.items_idx, 
		items_name, price, 
		items_img, 
		items_category, 
		(SELECT AVG(review_star) FROM review WHERE items.items_idx = review.items_idx) AS items_star_avg, 
		(SELECT COUNT(review_idx) FROM review WHERE items.items_idx = review.items_idx) AS items_review_cnt 
		FROM items
	</select>
	
	<select id="getItemInfo" resultType="com.sofas.app.bean.Items_ReviewDto">
		SELECT 
		items.items_idx, 
		items_name, 
		price, 
		items_img, 
		items_info1, items_info2, items_info3, items_info4, 
		stock, 
		(SELECT AVG(review_star) FROM review WHERE items.items_idx = review.items_idx) AS items_star_avg, 
		(SELECT COUNT(review_idx) FROM review WHERE items.items_idx = review.items_idx) AS items_review_cnt 
		FROM items 
		WHERE items_idx=?
	</select>
  
</mapper>